$main-color: rgb(191, 119, 131);
$sub-color: rgb(255, 217, 224);
$login-color: #f4e7e3;
$dashboard-color: #fffcfb;
$dashboard-icon-color: rgb(220, 127, 142);
$step-color: pink;
$dark-step-color: pink;
$gray-color: #c4c4c4;
$dark-gray-color: #686868;